v2.0/Source/Words of the Founders/Service References/ServiceReferences.WwfdSearchService/WwfdSearchService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.whatwouldthefoundersdo.org/WwfdSearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wwfd.Core.DataObjects" />
  <xs:element name="SearchQuotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchQuotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wwfd.Core.DataObjects" minOccurs="0" name="SearchQuotesResult" nillable="true" type="q1:ArrayOfQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFounders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="founderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFoundersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wwfd.Core.DataObjects" minOccurs="0" name="SearchFoundersResult" nillable="true" type="q2:ArrayOfFounder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFounders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="founderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoundersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wwfd.Core.DataObjects" minOccurs="0" name="GetFoundersResult" nillable="true" type="q3:ArrayOfFounder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>